/*
    RULES
    ----------------------
    -> When you define a class or ID use kebab case instead of camel case. heroSection -> hero_section. 
    -> CSS code will go the sequentially like: hero section, about section; 
    -> Use comment in every section.
    -> Don't add image in css file, use inline css for image. 
    -> Try to use 2 or 3 colors and use variable
*/


/* BASIC SETUP*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
}
hr{
 
}
p{
  
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.bg_gray{
    background-color: #C8DAF9;
}
section{
    padding: 60px 0;
}
h3{
 
}

h4{

}
ul li{
    margin-bottom: 10px;
    text-align: justify;
    line-height: 1.5;
}
p.rules{
    text-align: justify;
    font-family: 'Noto Sans Bengali', sans-serif;
}
.bg_red{
    background: red;
}
.bg_green{
    background: green;
}
.text_white{
    color: #fff;
}
.text_black{
    color: #111;
}